# terraform.tfvars.example
# cp terraform.tfvars.example terraform.tfvars 후 값 수정
# terraform.tfvars는 .gitignore에 등록되어 커밋 안 됨

aws_region          = "ap-northeast-2"
project_name        = "hybrid-project"
environment         = "aws-standby"

vpc_cidr            = "10.20.0.0/16"
public_subnet_cidr  = "10.20.1.0/24"
private_subnet_cidr = "10.20.2.0/24"
availability_zone   = "ap-northeast-2a"

# 본인 공인 IP: curl ifconfig.me
allowed_ssh_cidr    = "본인IP/32"

instance_type         = "t3.small"
bastion_instance_type = "t3.micro"
root_volume_size      = 20

# AWS 콘솔 → EC2 → Key Pairs에서 만든 키페어 이름
key_name = "키페어이름"
